.reegan-card{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.reegan-card>.info{
    position: absolute;
    bottom: -500px;
    padding: 10px;
    background-color: #f0f0f0dd;
    width:100%;
    transition: all 500ms;
}

.reegan-card:hover > .info{
    bottom: 0px;
}

.reegan-image{
    transition: all 1s;
}

.reegan-card:hover > .reegan-image{
    overflow: hidden;
    transform: scale(1.1);
}
.title{
    color: #f43b47;
    font-weight: 800;
}
.content{
    color: #444;
}

.btn-border{
    border: 2px solid white;
    outline: 2px solid #f43b47;
    background-color: white;
    color: #f43b47;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 100ms;
    text-decoration: none;
}
.btn-border:hover{
    border: 2px solid white;
    outline: 2px solid #f43b47;
    background-color: #f43b47;
    color: white;
}